chromium/
configstore/
dconf/
geeqie/
gtk-2.0/
gtk-3.0/
kde.org/
Kvantum/
libfm/
neofetch/
nitrogen/
nvim/.vim/plugged/
nvim-qt/
pacmanfm/
pulse/
ranger/
rofi/
session/
vlc/
volumeicon/
xfce4/


dolphinrc
kconf_updaterc
kdeglobals
kosolerc
pavucontrol.ini
QtProject.conf
trashrc
yakuakerc
